@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Chrome, Safari et Edge */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
  height: 8px; /* Hauteur de la scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Piste de défilement transparente */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Couleur du bouton de défilement */
  border-radius: 10px; /* Bordures arrondies */
  border: 2px solid transparent; /* Un peu d'espace autour du bouton */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Couleur au survol */
}

/* Supprimer les boutons de défilement */
::-webkit-scrollbar-button {
  display: none; /* Masque les boutons de défilement */
}


/* Firefox */
* {
  scrollbar-width: thin; /* Utiliser une scrollbar fine */
  scrollbar-color: #888 #f1f1f1; /* Couleur du bouton et arrière-plan */
}

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;
    --card: 0 0% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Custom */
    --error: 0 80% 60%;
    --error-foreground: 0 80% 60%;
    --success: 121 51% 68%;
    --success-foreground: 121 51% 68%;
    --info: 198 53% 73%;
    --info-foreground: 198 53% 73%;
    --warning: 37 70% 64%;
    --warning-foreground: 37 70% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
